

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

*,*::before,*::after{ padding: 0;  margin: 0;  box-sizing: border-box; user-select: none}

.slider_wrapper,
.slider_section,
.slider_indicators,
.slider_arrow,
.left_arrow,
.right_arrow,
.pic,
.indicator,
.active,
.slider_content,
.slider_text,
.slider_h2,
.slider_h3,
.slider_button,
.slider_button_h2
{
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.slider_wrapper,
.slider_section{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slider_indicators{
    width: 100vw;
    height: 100vh;
    top: 50vh;
}
.slider_arrow{
    width: 98vw;
    height: 0;
    z-index: 25;
    bottom: 50vh;
}

.left_arrow,
.right_arrow{
    width: 5vw;
    height: 8vh;
    font-size: 4vh;
    position: absolute;
    color: rgba(255,255,255,0.7);
    background-color: rgba(0,0,0,0.5);
    transition: all 0.5s linear;
}

.left_arrow{left: 1vw}

.right_arrow{right: 1vw}


.left_arrow:hover,
.right_arrow:hover{
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    transition: all 0.5s linear;
}

.indicator{
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.active{
    width: 100vw;
    height: 100vh;
    bottom: 50vh;
    z-index: 5;
}

.pic{
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.slider_content{
    grid-row-gap: 5vh;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    bottom: 100vh;
}

.slider_text{
    width: 80vw;
    height: 24vh;
    z-index: 15;
    background-color: rgba(255,255,255,0.25);

}

.slider_h2,
.slider_h3{
    width: 80vw;
    height:10vh;
    z-index: 20;
    font-size: 7vh;
    font-weight: 800;
    font-family: 'Alex Brush', cursive;
    color: rgba(0,0,0,0.7);
}

.slider_button{
    width: 10vw;
    height: 5vh;
    border: none;
    background-color: rgba(0,0,0,0.8);
    transition: all 0.5s linear;
}

.slider_button_h2{
    font-size: 2vh;
    font-weight: 800;
    font-family: 'Alex Brush', cursive;
    color: rgba(255,255,255,0.8);
    transition: all 0.5s linear;
}

.slider_button:hover{
    background-color: rgba(255,255,255,0.5);
    transition: all 0.5s linear;
}

.slider_button:hover .slider_button_h2{
   color: rgba(0,0,0,0.8);
    transition: all 0.5s linear;
}
